{% extends 'fix/layout.html' %}
{% load static %}

{% block head %}
    <title>{{ issue_data.title }}</title>
    <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
{% endblock %}

{% block body %}
    <img src="{{ issue_data.image_before.url }}" alt="image" style="max-height:300px">
    {% if issue_data.image_after %}
        <img src="{{ issue_data.image_after.url }}" alt="image" style="max-height:300px">
    {% endif %}
    <h1>Title: {{ issue_data.title }}</h1>
    <p>Author: <a href="{% url 'user_page' issue_data.author.id %}">{{ issue_data.author }}</a></p>
    <p>Status: {{ issue_data.get_status_display }}</p>
    <p>Executor: {% if issue_data.executor %}{{ issue_data.executor }}{% else %}This issue has no executor yet.{% endif %}</p>
    
    <!-- Executor workspace section -->
    {% if request.user == issue_data.executor or request.user.role == 'M' and issue_data.status == 'N'   %}
    <div>Set issue stage:
        <form action="{% url 'status_change' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="issue_id" value="{{ issue_data.id }}" hidden>
            {{ form.as_p }}
            <input type="submit" value="change status">
        </form>
    </div>
    {% endif %}
    <!-- End executor workspace section -->

    <!-- Issue edit section -->
    {% if issue_data.author == request.user and issue_data.status == 'N' %}
        <input id="remove" type="button" value="Remove">
        <input id="edit" type="button" value="Edit">
        <input id="save" type="button" value="Save" hidden>
    {% endif %}
    <p id="issue_description">Description {{ issue_data.description }}</p>
    <p id="issue_response">Response: {% if issue_data.response %} {{ issue_data.response }} {% else %} This issue has no response yet. {% endif %}</p>
    <!-- End issue edit section -->

    <!-- Map section -->
    <input id="create" type="button" value="Show on map">
    {% if issue_data.author == request.user and issue_data.status == 'N' %}
        <input id="update" type="button" value="Update" hidden>
    {% endif %}
    <p>Pin coordinates: <div id="location">{{ issue_data.latitude }}, {{ issue_data.longitude }}</div></p>
    <div id="mapBlock"></div>
    <!-- End map section-->

    <!-- Comments section -->
    {% if user.is_authenticated %}
        <div>Add new comment:
            <form action="{% url 'add_comment' %}" method="post">
                {% csrf_token %}
                <input type="number" name="issue_id" value="{{ issue_data.id }}" hidden>
                <input type="textarea" style="width: 100%;" name="new_comment" id="new_comment" placeholder="Comment">
                <input type="submit" value="Comment">
            </form>
        </div>
    {% endif %}

    <div>Comments:
        <div>
            {% for i in comments %}
                <p>
                    Commenter: {{ i.commenter }}
                    Comment: {{ i.comment}}
                    Date: {{ i.date }}
                </p>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scriptend %}
    <script>
        var createButton = document.getElementById('create');
        var locationInfo = document.getElementById('location');
        var updateButton = document.getElementById('update');
        var removeButton = document.getElementById('remove');
        var editButton = document.getElementById('edit');
        var saveButton = document.getElementById('save');
        var lat, lng;

        createButton.onclick = function() {
            var container = document.createElement('div'),
                mapBlock = document.getElementById('mapBlock');

            container.id = 'map';
            container.style.width = '100%';
            container.style.height = '400px';
            mapBlock.appendChild(container);

            DG.then(function(){
                var map, marker;
                map = DG.map('map', {
                    center: [{{ issue_data.latitude }}, {{ issue_data.longitude }}],
                    zoom: 16
                });
                if ('{{ user }}' == '{{ issue_data.author }}' && '{{ issue_data.status }}' == 'N') {
                    marker = DG.marker([{{ issue_data.latitude }}, {{ issue_data.longitude }}], {
                        draggable: true
                    }).addTo(map);

                    marker.on('drag', function(e) {
                        updateButton.removeAttribute('hidden');
                        lat = e.target._latlng.lat;
                        lng = e.target._latlng.lng;

                        locationInfo.innerHTML = lat + ', ' + lng;
                    });
                } else {
                    DG.marker([{{ issue_data.latitude }}, {{ issue_data.longitude }}]).addTo(map).bindPopup('{{ issue_data.title }}');
                }
            });
        }

        if ('{{ user }}' == '{{ issue_data.author }}' && '{{ issue_data.status }}' == 'N') {
            updateButton.onclick = function() {
                issue_id = {{ issue_data.id }};
                fetch(`/update_coordinates/${issue_id}?latitude=${lat}&longitude=${lng}`)
                .then(response => response.text())
                .then(data => {
                    if (data == "success") {
                        alert('Pin position has been updated');
                        updateButton.setAttribute("hidden", "");
                    }
                })
                .catch(error => {
                    console.log('Erroru:', error);
                });
            }
            removeButton.onclick = function() {
                issue_id = {{ issue_data.id }};
                fetch(`/remove/${issue_id}`)
                .then(response => response.text())
                .then(data => {
                    if (data == "success") {
                        alert('Issue has been removed');
                        location.href = "http://127.0.0.1:8000/";
                    }
                    else {
                        alert("you no longer can remove this issue");
                    }
                })
                .catch(error => {
                    console.log('Erroru:', error);
                });
            }
            
            editButton.onclick = function() {
                //description edit
                const issue_description_input = document.createElement('textarea');
                const issue_description = document.querySelector('#issue_description');
                issue_description_input.type = "text";
                issue_description_input.value = issue_description.innerHTML;

                issue_description.after(issue_description_input);
                issue_description.setAttribute('hidden', '');
                issue_description_input.setAttribute('style', 'width: 90%');

                //edit button hide
                editButton.setAttribute('hidden', '');
                saveButton.removeAttribute('hidden');

            }

            saveButton.onclick = function() {
                console.log("say what");
            }
        }
    </script>    
{% endblock %}