{% extends 'fix/layout.html' %}
{% load static %}

{% block head %}
    <title>{{ issue_data.title }}</title>
    <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
{% endblock %}

{% block body %}
    <img src="{{ issue_data.image.url }}" alt="image" style="max-height:300px">
    <h1>{{ issue_data.title }}</h1>
    <p>{{ issue_data.description }}</p>

    <!-- Map section -->
    <input id="create" type="button" value="Show on map">
    <input id="update" type="button" value="Update" hidden>
    <p>Pin coordinates: <div id="location">{{ issue_data.latitude }}, {{ issue_data.longitude }}</div></p>
    <div id="mapBlock"></div>
    <script>
        var createButton = document.getElementById('create');
        var locationInfo = document.getElementById('location');
        var updateButton = document.getElementById('update');
        var lat, lng;

        createButton.onclick = function() {
            var container = document.createElement('div'),
                mapBlock = document.getElementById('mapBlock');

            container.id = 'map';
            container.style.width = '100%';
            container.style.height = '400px';
            mapBlock.appendChild(container);

            DG.then(function(){
                var map, marker;
                map = DG.map('map', {
                    center: [{{ issue_data.latitude }}, {{ issue_data.longitude }}],
                    zoom: 16
                });
                if ('{{ user }}' == '{{ issue_data.author }}') {
                    marker = DG.marker([{{ issue_data.latitude }}, {{ issue_data.longitude }}], {
                        draggable: true
                    }).addTo(map);

                    marker.on('drag', function(e) {
                        updateButton.removeAttribute('hidden');
                        lat = e.target._latlng.lat;
                        lng = e.target._latlng.lng;

                        locationInfo.innerHTML = lat + ', ' + lng;
                    });
                } else {
                    DG.marker([{{ issue_data.latitude }}, {{ issue_data.longitude }}]).addTo(map).bindPopup('{{ issue_data.title }}');
                }
            });
        }

        updateButton.onclick = function() {
            console.log(lat);
        }
    </script>
{% endblock %}