{% extends 'fix/layout.html' %}
{% load static %}

{% block head %}
    <title>{{ issue_data.title }}</title>
{% endblock %}

{% block body %}
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script>
        DG.then(function() {
            // загрузка кода модуля
            return DG.plugin("{% static 'fix/leaflet.markercluster.js' %}");
        }).then(function() {
            map = DG.map('map', {
                center: DG.latLng(43.246988, 76.903344),
                zoom: 12
            });

            var markers = DG.markerClusterGroup();
            console.log(addressPoints);

            // обработка координат для установки маркеров
            for (var i = 0; i < addressPoints.length; i++) {
                var a = addressPoints[i];
                var title = a[2];
                var marker = DG.marker([a[0], a[1]], { title: title });
                marker.bindPopup(title);
                markers.addLayer(marker);
            }

            map.addLayer(markers);
        });
    </script>
    {{ issue_data.image.url }}
    <img src="{{ issue_data.image.url }}" alt="image" style="max-height:300px">
{% endblock %}