{% extends "fix/layout.html" %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <div>Create account</div>
    {% if message %}
        {{ message }}
    {% endif %}
    <form action="{% url 'register' %}" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="confirmation" placeholder="confirmation">
        <input type="submit" value="Register">
        {% csrf_token %}
    </form>
{% endblock %}